@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

h2 {
    text-align: center;
}

.signature {
    font-size: 1.5em;
    font-family: "Caveat", cursive, sans-serif;
}
