@import "../../css/colors.css";
@import "../../css/units.css";

.icon {
    width: 1.5rem;
}

.theme-label {
    flex: 1;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.check {
    margin: 0 0.25rem 0 0;
    visibility: hidden;
}

[dir="rtl"] .check {
    margin: 0 0 0 0.25rem;
}

.selected {
    visibility: visible;
    filter: var(--menu-bar-icon-filter);
}

.submenu-label {
    flex: 1;
}

.dropdown-label {
    margin: 0 0.5rem 0 0.25rem;
}

[dir="rtl"] .dropdown-label {
    margin: 0 0.25rem 0 0.5rem;
}

.expand-caret {
    transform: rotate(-90deg);
    margin-left: auto;
    filter: var(--menu-bar-icon-filter);
}

[dir="rtl"] .expand-caret {
    transform: rotate(90deg);
    margin-left: 0;
    margin-right: auto;
}

.menu-item-title-and-subtitle {
    display: flex;
    flex-direction: column;
    line-height: normal; /* overrides inherited line-height */
    padding-top: 6px;
    padding-bottom: 6px;
}

.menu-item-subtitle {
    font-size: 0.55rem;
    opacity: 0.65;
    color: inherit;
}

/* Extra padding to deal with scrollbar overlapping options in Firefox */

[dir="ltr"] .language-menu-item {
    padding-right: 1rem;
}

[dir="rtl"] .language-menu-item {
    padding-left: 1rem;
}

.language-submenu > ul {
    max-height: calc(100vh - 5rem); /* Fallback if dvh not supported */
    max-height: calc(100dvh - 5rem);
}

@media only screen and (max-width: 1124px) {
    .dropdown-label {
        display: none;
    }
}

.accent-icon-outer {
    width: 24px;
    height: 24px;
    border: 3px solid $menu-bar-foreground;
    border-radius: 100%;
    box-sizing: border-box;
    transform-origin: center;
    transform: scale(90%);
}

.gui-theme-icon-outer {
    width: calc(24px / 1.1);
    height: calc(24px / 1.1);
    border: calc(3px / 1.1) solid $menu-bar-foreground;
    border-radius: calc($space / 1.3);
    margin: 1.1px;
    box-sizing: border-box;
    transform-origin: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.gui-theme-icon-menubar {
    height: 4px;
    width: 100%;
    background-color: $menu-bar-background;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.gui-theme-icon-menubar-no-custom-menu-bar {
    background-image: $menu-bar-background-image;
}

.gui-theme-icon-fake-blocks {
    flex-grow: 1;
    border-width: 1px;
    border-style: solid;
    margin: 1.4px;
    border-radius: calc($space / 2);
}

.disabled {
    opacity: 0.5;
}
.disabled img {
    filter: grayscale(100%);
}

.open-link {
    margin-left: 0.5rem;
}

.icon {
    filter: var(--menu-bar-icon-filter);
}
