@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";
@import "../../css/typography.css";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;

    /*
     *        For most things, we shouldn't explicitly set height, and let the
     *        content push the element to whatever fits. Using a fixed height
     *        instead, will help us subtract the value we assign from the body,
     *        adding up to a perfect 100%. This means we don't need to set
     *        overflow: hidden, which makes it hard to debug. border-box
     *        simplifies by all of this by removing padding from the equation.
     */
    box-sizing: border-box;
    height: $menu-bar-height;

    /*
     *        @todo: This adds ~20px in Chrome, when scrolling to the right,
     *        but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
     *        width: 100%;
     */
    font-family: "Inter Variable", "Helvetica Neue", Helvetica, sans-serif;
    font-size: $menu-bar-standard-font-size;
    font-weight: bold;
    background-color: $menu-bar-background;
    color: $menu-bar-foreground;
    border-bottom: 1px solid $menu-bar-bottom-border;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 509;
}

.main-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
    gap: 0.5rem;
}
.inactive {
    opacity: 0;
}
.scratch-logo {
    height: 1.6rem;
    vertical-align: middle;
}

.scratch-logo.clickable {
    cursor: pointer;
}

.header-item {
    display: flex;
    text-decoration: none;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: $menu-bar-height;
    padding: 0 0.75rem;
    color: $menu-bar-foreground;
    border-radius: 0.5rem;
    height: calc($menu-bar-height - 0.75rem);
    font-size: 1.2em;
}

.header-item.hoverable {
    cursor: pointer;
    transition: background-color 0.1s;
}

.header-item.active,
.header-item.hoverable:hover {
    background-color: $menu-bar-hover;
}

.header-item.growable {
    max-width: $menu-bar-item-max-width;
    flex: 1;
}

.title-field-growable {
    flex-grow: 1;
    width: 2rem;
}

.header-menu {
    margin-top: $menu-bar-height;
    z-index: $z-index-menu-bar;
}

.feedback-link {
    color: $feedback-foreground;
    background: $feedback-background;
    text-decoration: none;
}

.feedback-button {
    background-color: var(--menu-bar-foreground);
    color: inherit;
    height: 34px;
}

.divider {
    height: 34px;
}

.author-info {
    margin-left: 0.25rem;
    margin-right: 0.6875rem;
}

.header-button {
    height: $menu-bar-button-size;
}

.remix-button {
    background-color: $pen-primary;
}

.remix-button-icon {
    height: 1.25rem;
}

.coming-soon > :not(.coming-soon-tooltip) {
    opacity: 0.5;
}

.account-info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-info-group .header-item {
    margin: 0 0.25rem;
    padding: 0 0.75rem;
}

.mystuff-icon {
    margin: 0 0.25rem;
    height: 1rem;
}

.help-icon {
    margin: 0 0.25rem 0 0;
}

[dir="rtl"] .help-icon {
    margin: 0 0 0 0.25rem;
}

.account-nav-menu,
.mystuff-button {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    margin: 0 0.25rem;
    width: $menu-bar-button-size;
    border-radius: $form-radius;
}

.dropdown-caret-icon {
    width: 0.5rem;
    height: 0.5rem;
}

[dir="ltr"] .dropdown-caret-icon {
    margin-left: 0.5rem;
}

[dir="rtl"] .dropdown-caret-icon {
    margin-right: 0.5rem;
}

.disabled {
    opacity: 0.5;
}

.about-icon {
    height: 1.25rem;
    margin: 0.5rem;
    vertical-align: middle;
    filter: var(--icon-filter);
}

.collapsible-label {
    margin: 0 0.25rem;
}

@media only screen and (max-width: 720px) {
    .header-item:not(.ampmod-logo) {
        display: none;
    }
}

.header-link {
    color: inherit;
    text-decoration: none;
}

.ampmod-logo img {
    filter: var(--menu-bar-icon-filter);
    transition: transform 0.3s;
}

.ampmod-logo:hover img {
    transform: rotateZ(360deg) scale(1.2);
}

.spacer {
    height: $menu-bar-height;
}
