---
title: Mental Health Resources
subtitle: If you are in immediate danger, please call your local emergency services. Also, please do not publicly ask for mental health assistance. Please privately use the resources available in your country.
---

## United States (USA)

* **National Alliance on Mental Illness (NAMI):** [https://www.nami.org/](https://www.nami.org/) (Helpline: **1-800-950-NAMI (6264)**)
* **Mental Health America (MHA):** [https://www.mhanational.org/](https://www.mhanational.org/)
* **The Trevor Project:** [https://www.thetrevorproject.org/](https://www.thetrevorproject.org/) (Call **1-866-488-7386**)
* **Crisis Text Line:** [https://www.crisistextline.org/](https://www.crisistextline.org/) (Text HOME to **741741**)
* **The Jed Foundation:** [https://www.jedfoundation.org/](https://www.jedfoundation.org/)
* **Substance Abuse and Mental Health Services Administration (SAMHSA):** [https://www.samhsa.gov/](https://www.samhsa.gov/) (National Helpline: **1-800-662-HELP (4357)**)
* **988 Suicide & Crisis Lifeline:** [https://988lifeline.org/](https://988lifeline.org/) (Call or text **988**)

## United Kingdom (UK)

* **Mind:** [https://www.mind.org.uk/](https://www.mind.org.uk/) (England and Wales)
* **YoungMinds:** [https://www.youngminds.org.uk/](https://www.youngminds.org.uk/)
* **Samaritans:** [https://www.samaritans.org/](https://www.samaritans.org/) (Call **116 123**)
* **Childline:** [https://www.childline.org.uk/](https://www.childline.org.uk/) (Call **0800 1111**)
* **The Mix:** [https://www.themix.org.uk/](https://www.themix.org.uk/)
* **Kooth:** [https://www.kooth.com/](https://www.kooth.com/)
* **NHS Mental Health Services:** [https://www.nhs.uk/mental-health/](https://www.nhs.uk/mental-health/)
* **Breathing Space (Scotland):** [https://breathingspace.scot/](https://breathingspace.scot/) (Call **0800 83 85 87**)
* **Aware NI (Northern Ireland):** [https://www.aware-ni.org/](https://www.aware-ni.org/)

## Canada

* **Canadian Mental Health Association (CMHA):** [https://cmha.ca/](https://cmha.ca/) (Links to provincial branches)
* **Kids Help Phone:** [https://kidshelpphone.ca/](https://kidshelpphone.ca/) (Call **1-800-668-6868** or text **686868**)
* **Hope for Wellness Helpline:** [https://www.hopeforwellness.ca/](https://www.hopeforwellness.ca/) (For Indigenous peoples across Canada - Call **1-855-242-3310**)
* **Crisis Services Canada:** [https://crisisservicescanada.ca/](https://crisisservicescanada.ca/) (Links to provincial crisis lines)

## Australia

* **Beyond Blue:** [https://www.beyondblue.org.au/](https://www.beyondblue.org.au/) (Call **1300 22 4636**)
* **Headspace:** [https://headspace.org.au/](https://headspace.org.au/) (For young people aged 12-25)
* **Lifeline:** [https://www.lifeline.org.au/](https://www.lifeline.org.au/) (Call **13 11 14**)
* **Kids Helpline:** [https://kidshelpline.com.au/](https://kidshelpline.com.au/) (Call **1800 55 1800**)

## New Zealand

* **Mental Health Foundation of New Zealand:** [https://www.mentalhealth.org.nz/](https://www.mentalhealth.org.nz/)
* **Youthline:** [https://www.youthline.co.nz/](https://www.youthline.co.nz/) (Call **0800 376 633** or text **234**)
* **Lifeline Aotearoa:** [https://www.lifeline.org.nz/](https://www.lifeline.org.nz/) (Call **0800 543 354**)
* **The Lowdown:** [https://thelowdown.co.nz/](https://thelowdown.co.nz/) (For young people experiencing depression or anxiety)

## Ireland (Republic of)

* **Mental Health Ireland:** [https://www.mentalhealthireland.ie/](https://www.mentalhealthireland.ie/)
* **Samaritans:** [https://www.samaritans.org/ireland/](https://www.samaritans.org/ireland/) (Call **116 123**)
* **Childline:** [https://www.ispcc.ie/childline/](https://www.ispcc.ie/childline/) (Call **1800 66 66 66**)
* **Jigsaw:** [https://jigsaw.ie/](https://jigsaw.ie/) (For young people's mental health)

## Germany

* **Telefonseelsorge:** [https://www.telefonseelsorge.de/](https://www.telefonseelsorge.de/) (Call **0800 111 0 111** or **0800 111 0 222**)
* **Nummer gegen Kummer:** [https://www.nummergegenkummer.de/](https://www.nummergegenkummer.de/) (For children and young people - Call **0800 111 0 333**)
* **Deutsche Depressionshilfe:** [https://www.deutsche-depressionshilfe.de/](https://www.deutsche-depressionshilfe.de/)

## France

* **S.O.S Amitié:** [https://www.sos-amitie.com/](https://www.sos-amitie.com/) (Call **09 69 39 12 12**)
* **Suicide Écoute:** [https://www.suicide-ecoute.fr/](https://www.suicide-ecoute.fr/) (Call **01 45 39 40 00**)

## Spain

* **Teléfono de la Esperanza:** [https://telefonodelaesperanza.org/](https://telefonodelaesperanza.org/) (Check website for regional numbers)

## Italy

* **Telefono Amico Italia:** [https://www.telefonoamico.it/](https://www.telefonoamico.it/) (Call **02 2327 2327**)

## Netherlands

* **113 Zelfmoordpreventie:** [https://www.113.nl/](https://www.113.nl/) (Call **113** or **0800-0113**)

## Sweden

* **Mind:** [https://mind.se/](https://mind.se/) (Helpline: **020-81 00 00**)
* **Bris (Barnens Rätt i Samhället):** [https://www.bris.se/](https://www.bris.se/) (For children - Call **116 111**)

## Disclaimer:

AmpMod is a platform for creativity and community. We are not a mental health service, and the resources provided on this page are for informational purposes only. If you are struggling with your mental health, please reach out to one of the organizations listed above or seek professional help from a doctor or therapist. Your well-being is important.

**If your country is not listed, please search online for "mental health support [your country]" to find local services.**