@import "../../css/colors.css";

.footer {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid $ui-black-transparent;
    width: 100%;
    font-size: 0.95em;
}
.footer a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: $motion-primary;
}
.footer a.footer-reset-data {
    color: $red-primary;
}
.footer-content {
    max-width: 1200px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

.separator {
    margin: 0 0.5em;
    border-left: 1px solid $ui-black-transparent;
    height: 1em;
}

.semicolon {
    background: $page-background;
    width: 100%;
}
