@layer theme, base, components, utilities;

@import 'tailwindcss';
@import '@fontsource-variable/inter';
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--color-accent: #4fa55c;
	--color-accent-secondary: #3e834a;
}
