@layer theme, base, components, utilities;

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--color-background: white;
	--color-background-dark: #121216;

	--color-text: #121216;
	--color-text-dark: white;

	--color-accent: #59c059;
	--color-accent-secondary: #4caf50;

	/* Forks: Do not change the following colors.
     This color is used as green in toggle switches and other things
     that would make more sense to be green than another accent color. */
	--color-original-accent: #59c059;
	--color-original-accent-secondary: #4caf50;
	/* End Forks */

	--color-footer: #f0f0f0;
	--color-footer-dark: #1c1c24;

	--color-border: #d1d5db;
	--color-border-dark: #4b5563;
}

#cc-main {
	--cc-font-family: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--cc-modal-border-radius: 0.5rem;
	--cc-btn-border-radius: 0.4rem;
	--cc-modal-transition-duration: 0.25s;
	--cc-modal-margin: 1rem;
	--cc-z-index: 2147483647;
}
