@layer theme, base, components, utilities, aw3;

@import 'tailwindcss';
@import '@fontsource-variable/inter';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --color-accent: #4fa55c;
  --color-accent-secondary: #3e834a;
  --color-accent-tertiary: #356b3c;
  --color-accent-light: #77ce84;
  /* For button hover */
  --color-accent-almost-light: #6dba79;
}

@layer aw3 {
  html {
    @apply bg-white text-gray-800 dark:bg-neutral-900 dark:text-gray-100;
  }

  .link {
    @apply font-bold text-accent-secondary underline hover:text-accent-tertiary dark:text-accent-light dark:hover:text-accent-almost-light;
  }

  .header-link {
    @apply cursor-pointer rounded-lg px-3 py-2 font-bold whitespace-nowrap transition hover:bg-accent/20 dark:hover:bg-black/10;
  }

  .btn {
    @apply cursor-pointer rounded-lg bg-accent-light px-4 py-2 text-lg font-bold text-black hover:bg-accent-almost-light;
  }

  .input {
    @apply mt-1 w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-gray-900 focus:ring-2 focus:ring-accent focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white;
  }
}
