@import "../../css/units.css";

.outlined-button {
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    user-select: none;
}

.icon {
    height: 1.5rem;
}

[dir="ltr"] .icon {
    margin-right: 0.5rem;
}

[dir="rtl"] .icon {
    margin-left: 0.5rem;
}

.content {
    white-space: nowrap;
}
